.parts {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.part {
    width: 30%;
    min-width: 250px;
    background: #f2f2f2;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    align-items: center;
}

.part:hover {
    transform: translateY(-3px);
}

.part h3 {
    text-align: center;
    margin-bottom: 10px;
    color: #333;
}

.part-ul {
    list-style: none;
    padding: 0;
    margin: 0;
    min-height: 60vh;
    border: 2px dashed transparent;
    transition: 0.3s;
}

.part-ul:hover {
    border-color: #aaa;
}

.part-ul li {
    background: white;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 6px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.15);
    cursor: grab;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s;
}

.part-ul li:active {
    cursor: grabbing;
}

.part-ul li button {
    background: #ff4747;
    border: none;
    color: white;
    padding: 5px 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
}

.part-ul li button:hover {
    background: #d93636;
}

.input-block {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 10px;
}

input[type="text"] {
    padding: 8px 10px;
    font-size: 16px;
    width: 250px;
}

button {
    padding: 13px 24px;
    background: #ff3808;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #3d9b03;
}


@media (max-width: 600px) {

    .parts {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .part {
        width: 90%;
        min-width: unset;
    }

    .input-block {
        flex-direction: column;
        align-items: center;
    }

    input[type="text"] {
        width: 90%;
        margin-bottom: 10px;
    }

    button {
        width: 90%;
        padding: 12px 0;
    }

    .part-ul li {
        padding: 8px;
        font-size: 15px;
    }

    .part-ul li button {
        padding: 4px 6px;
    }
}
